<section class="disqus">
    <!-- <h3> {{ page.title }} </h3> -->
    <!-- <h3> {{ page.url }} </h3> -->
    <!-- Use page.url as identifier -->
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_config = function () {
            /* These are configuration variables */
            /* These are used to identify our blog's unique thread */
            /* If these are NOT SET, then 
            automatically complete url is used for identifier
            Which would result in different comment threads when
            1. Hosted on akash-116.github.io
            2. Developing on localhost:4000
            3. Live Server on localhost:5000
            --------------------------------
            Now after setting the identifier 
            (which is expected to stay constant
            for the life of the blog)
            The comments thread will be the same every time
            */

            this.page.identifier = '{{ page.url }}'
            this.page.title = '{{ page.title }}'
        }

        var disqus_shortname = '{{site.disqus}}';
        var disqus_developer = 0;
        (function () {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = window.location.protocol + '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section>